
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

h1{
  font-family: "Libre Caslon Display", serif;
}

.logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.header-menu{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-style: 1.5rem;
  align-items: center;

}

header{
  height: 1024px;
  background: url(Background.png) center/cover;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
 
nav a{
  color: white;
  text-decoration: none;
}

button{
  background: none;
  color: white;
  border: 1px white solid;
  width: 150px;
  height: 40px;
  border-radius: 0.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 992px){
  nav{
    display: none;
  }
}

.burger-menu{
  border: none;
  width: max-content;
  cursor: pointer;
}