*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

.back-to-main{
    display: block;
    margin: 20px;
    width: max-content;
}

body{
    background: #f5f5f5;
}

.card{
    max-width: 500px;
    width: 100%;
    
}