* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

header {
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 100px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 900;
  color: #076bb2;
}

nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

nav a {
  color: black;
  font-size: 20px;
}

button {
  background: #076bb2;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 80px;
  font-size: 20px;
  cursor: pointer;
}
.lang {
  display: flex;
  align-items: center;
  gap: 3px;
}

.burger-btn {
  background: transparent;
  padding: 0;
  display: none;
}

.hero {
  height: 981px;
  background: url(img/hero.png) center/cover;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 140px;
}

.hero-choose {
  padding: 24px 20px;
  width: 235px;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-choose:nth-child(1) {
  background: #7b7b7b;
}

.hero-choose:nth-child(2) {
  background: #504f4f;
}

.hero-choose:nth-child(3) {
  background: #303030;
}

.hero-choose h4 {
  line-height: 160%;
}

.hero-choose select{
  background:transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.hero button{
  height: 100px;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .burger-btn {
    display: block;
  }
  nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero{
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.hero button, .hero-choose {
width: max(70%, 300px);
}
}
