* {
  margin: 0;
  padding: 0;
  font-family: "roboto mono";
  box-sizing: border-box;

}

.hero{
background: url(bg.png) center/cover;
height: 100vh;
}
.hero-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.hero-cta{
width: 600px;
}

.social-media{

}